This is the Kmeans clustering part of our model

In [101]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt

In [123]:
## here is going to be the code for reading and getting the data that we want
all_mostrecent = pd.read_csv("Most-Recent-Cohorts-Institution.csv")
filtered_mostrecent = all_mostrecent[["UNITID", "INSTNM", "CITY","STABBR","CONTROL","ADM_RATE", "SATVRMID","SATMTMID","ACTCMMID","ACTCM25",
        "ACTCM75", "COSTT4_A","UGDS","C150_4","RET_FT4","MD_EARN_WNE_P6",
        "MD_EARN_WNE_P10", "MD_EARN_WNE_MALE0_P6","MD_EARN_WNE_MALE1_P6","MD_EARN_WNE_MALE0_P10","MD_EARN_WNE_MALE1_P10"]]
no_na_mostrecent = filtered_mostrecent.dropna(axis=0, inplace = False)
## The following two are the good tables.
numerical_mostrecent = no_na_mostrecent.select_dtypes(include=['number']).drop('UNITID', axis = 1)
unitid_and_state = no_na_mostrecent[['UNITID', "INSTNM"]]

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (9,1537,1540,1542,1606,1608,1614,1615,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1703,1704,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1909,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1983,1984,2376,2377,2403,2404,2495,2496,2497,2498,2499,2500,2501,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2515,2516,2517,2518,2519,2520,2521,2522,2523,2524,2525,2526,2527,2528,2529,2530,2958) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [125]:
## This is the cell where we normalize the numerical dataset
min_value = 0
max_value = 1
normalized_df = (numerical_mostrecent - numerical_mostrecent.min()) / (numerical_mostrecent.max() - numerical_mostrecent.min()) * (max_value - min_value) + min_value
normalized_df.reset_index(inplace=True)
normalized_df = normalized_df.drop('index', axis = 1)
unitid_and_state.reset_index(inplace=True)
unitid_and_state = unitid_and_state.drop('index', axis = 1)
##normalized df contains the data that we want

In [144]:
def euclidean_distance(row1, row2):
    return np.linalg.norm(row1 - row2)

In [174]:
def closest_schools(unitid, number):
    rownum = unitid_and_state['UNITID'].index[unitid_and_state['UNITID'] == unitid][0]
    target_row = normalized_df.iloc[rownum]
    
    # Find the Euclidean distances
    result = normalized_df.drop(rownum)
    distances = [euclidean_distance(target_row, row) for _, row in result.iterrows()]

    # Get the indices of the smallest 10 distances
    min_distance_indices = np.argsort(distances)[:number]
    min_distances = [distances[i] for i in min_distance_indices]

    # Get the rows with the smallest 10 distances
    rows_with_min_distances = result.iloc[min_distance_indices]

    
    print("Closest Schools")
    return unitid_and_state.iloc[min_distance_indices]

In [177]:
closest_schools(243780, 10)

Closest Schools

     UNITID                                             INSTNM
442  186380                   Rutgers University-New Brunswick
365  174066                University of Minnesota-Twin Cities
321  166629                University of Massachusetts-Amherst
861  240444                    University of Wisconsin-Madison
214  151351                     Indiana University-Bloomington
815  233921  Virginia Polytechnic Institute and State Unive...
63   126614                     University of Colorado Boulder
586  204796                  Ohio State University-Main Campus
542  199193         North Carolina State University at Raleigh
775  228723             Texas A & M University-College Station