In [1]:
##This is the python file that will do the preprocessing for our file
import pandas as pd
import numpy as np

In [33]:
fos14 = pd.read_csv("FieldOfStudyData1415_1516_PP.csv")
fos15 = pd.read_csv("FieldOfStudyData1516_1617_PP.csv")
fos16 = pd.read_csv("FieldOfStudyData1617_1718_PP.csv")
fos17 = pd.read_csv("FieldOfStudyData1718_1819_PP.csv")
fos18 = pd.read_csv("FieldOfStudyData1819_1920_PP.csv")



##read in all the field of study data

In [35]:
##add the year column and select the attributes of importance
fos14['year'] = "2014_15"
fos14t = fos14[['year','UNITID', 'INSTNM', 'CIPCODE', 'CIPDESC', 'CREDLEV', 'EARN_MDN_1YR', 'EARN_MDN_4YR']]
fos15['year'] = "2015_16"
fos15t = fos15[['year','UNITID', 'INSTNM', 'CIPCODE', 'CIPDESC', 'CREDLEV', 'EARN_MDN_1YR', 'EARN_MDN_4YR']]
fos16['year'] = "2016_17"
fos16t = fos16[['year','UNITID', 'INSTNM', 'CIPCODE', 'CIPDESC', 'CREDLEV', 'EARN_MDN_1YR', 'EARN_MDN_4YR']]
fos17['year'] = "2017_18"
fos17t = fos17[['year','UNITID', 'INSTNM', 'CIPCODE', 'CIPDESC', 'CREDLEV', 'EARN_MDN_1YR', 'EARN_MDN_4YR']]
fos18['year'] = "2018_19"
fos18t = fos18[['year','UNITID', 'INSTNM', 'CIPCODE', 'CIPDESC', 'CREDLEV', 'EARN_MDN_1YR', 'EARN_MDN_4YR']]

In [53]:
##testing the addition of columns
dfs = [fos14t,fos15t,fos16t,fos17t,fos18t]
merged_df = pd.concat(dfs)

# sorted_merged_df = merged_df.sort_values(by=["INSTNM", 'year'])
# sorted_merged_df

merged_df

,year,UNITID,INSTNM,CIPCODE,CIPDESC,CREDLEV,EARN_MDN_1YR,EARN_MDN_4YR
0,2014_15,100654.0,Alabama A & M University,100,"Agriculture, General.",3,NaN,NaN
1,2014_15,100654.0,Alabama A & M University,101,Agricultural Business and Management.,3,NaN,NaN
2,2014_15,100654.0,Alabama A & M University,109,Animal Sciences.,3,NaN,NaN
3,2014_15,100654.0,Alabama A & M University,110,Food Science and Technology.,3,NaN,NaN
4,2014_15,100654.0,Alabama A & M University,110,Food Science and Technology.,5,NaN,NaN
...,...,...,...,...,...,...,...,...
233974,2018_19,NaN,California Southern University,4228,"Clinical, Counseling and Applied Psychology.",7,PrivacySuppressed,PrivacySuppressed
233975,2018_19,NaN,California Southern University,5138,"Registered Nursing, Nursing Administration, Nu...",3,PrivacySuppressed,PrivacySuppressed
233976,2018_19,NaN,Body Wisdom Massage Therapy School,5135,Somatic Bodywork and Related Therapeutic Servi...,1,PrivacySuppressed,PrivacySuppressed
233977,2018_19,NaN,Madera Community College,2401,"Liberal Arts and Sciences, General Studies and...",2,PrivacySuppressed,PrivacySuppressed
233978,2018_19,NaN,Madera Community College,5138,"Registered Nursing, Nursing Administration, Nu...",2,PrivacySuppressed,PrivacySuppressed

        UNITID    OPEID  OPEID6  \
0       100654   100200    1002
1       100663   105200    1052
2       100690  2503400   25034
3       100706   105500    1055
4       100724   100500    1005
...        ...      ...     ...
7761  48065701   869423    8694
7762  48154401  4220901   42209
7763  48387801  4223701   42237
7764  48400201  4228101   42281
7765  48414501  4232401   42324

                                                 INSTNM              CITY  \
0                              Alabama A & M University            Normal
1                   University of Alabama at Birmingham        Birmingham
2                                    Amridge University        Montgomery
3                   University of Alabama in Huntsville        Huntsville
4                              Alabama State University        Montgomery
...                                                 ...               ...
7761               Rasmussen University - Overland Park     Overland Park
7762  National Personal Training Institute of Cleveland  Highland Heights
7763  Bay Area Medical Academy - San Jose Satellite ...          San Jose
7764           High Desert Medical College - Bakerfield       Bakersfield
7765                        Vantage College-San Antonio       San Antonio

     STABBR         ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
0        AL       35762           NaN      NaN     NaN  ...
1        AL  35294-0110           NaN      NaN     NaN  ...
2        AL  36117-3553           NaN      NaN     NaN  ...
3        AL       35899           NaN      NaN     NaN  ...
4        AL  36104-0271           NaN      NaN     NaN  ...
...     ...         ...           ...      ...     ...  ...
7761     KS   662102786           NaN      NaN     NaN  ...
7762     OH       44143           NaN      NaN     NaN  ...
7763     CA       95113           NaN      NaN     NaN  ...
7764     CA       93301           NaN      NaN     NaN  ...
7765     TX   782211361           NaN      NaN     NaN  ...

      BBRR4_PP_MALE_DISCHARGE  BBRR4_PP_NOMALE_N  BBRR4_PP_NOMALE_DFLT  \
0                         NaN                NaN                   NaN
1                         NaN                NaN                   NaN
2                         NaN                NaN                   NaN
3                         NaN                NaN                   NaN
4                         NaN                NaN                   NaN
...                       ...                ...                   ...
7761                      NaN                NaN                   NaN
7762                      NaN                NaN                   NaN
7763                      NaN                NaN                   NaN
7764                      NaN                NaN                   NaN
7765                      NaN                NaN                   NaN

      BBRR4_PP_NOMALE_DLNQ  BBRR4_PP_NOMALE_FBR  BBRR4_PP_NOMALE_DFR  \
0                      NaN                  NaN                  NaN
1                      NaN                  NaN                  NaN
2                      NaN                  NaN                  NaN
3                      NaN                  NaN                  NaN
4                      NaN                  NaN                  NaN
...                    ...                  ...                  ...
7761                   NaN                  NaN                  NaN
7762                   NaN                  NaN                  NaN
7763                   NaN                  NaN                  NaN
7764                   NaN                  NaN                  NaN
7765                   NaN                  NaN                  NaN

      BBRR4_PP_NOMALE_NOPROG  BBRR4_PP_NOMALE_MAKEPROG  \
0                        NaN                       NaN
1                        NaN                       NaN
2                        NaN                       NaN
3                        NaN                       NaN
4                        NaN                       NaN
...                      ...                       ...
7761                     NaN                       NaN
7762                     NaN                       NaN
7763                     NaN                       NaN
7764                     NaN                       NaN
7765                     NaN                       NaN

      BBRR4_PP_NOMALE_PAIDINFULL  BBRR4_PP_NOMALE_DISCHARGE
0                            NaN                        NaN
1                            NaN                        NaN
2                            NaN                        NaN
3                            NaN                        NaN
4                            NaN                        NaN
...                          ...                        ...
7761                         NaN                        NaN
7762                         NaN                        NaN
7763                         NaN                        NaN
7764                         NaN                        NaN
7765                         NaN                        NaN

[7766 rows x 3214 columns]